<template>
    <div>
        <div class="be-wrapper be-fixed-sidebar">
            <nav class="navbar navbar-expand fixed-top be-top-header" style="background-color: #39ace7">
                <div class="container-fluid">
                    <div class="be-navbar-header"><a class="navbar-brand text-white" href="/home">Admin</a>
                    </div>
                    <div class="page-title"><span>Dashboard</span></div>
                    <div class="be-right-navbar">
                        <ul class="nav navbar-nav float-right be-user-nav">
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="/images/tab.jpeg" alt="Avatar"><span class="user-name">Túpac Amaru</span></a>
                                <div class="dropdown-menu" role="menu">
                                    <div class="user-info">
                                        <div class="user-name">{{name}}</div>
                                        <div class="user-position online">Online</div>
                                    </div><router-link to="/password" class="dropdown-item" href="#"><span class="icon mdi mdi-key"></span>Password</router-link>
                                    <a class="dropdown-item" href="#" v-on:click="logout()"><span class="icon mdi mdi-power"></span>Logout</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav float-right be-icons-nav">

                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
                                <ul class="dropdown-menu be-notifications">
                                    <li>
                                        <!--<div class="title">Notifications<span class="badge badge-pill">3</span></div>-->
                                        <!--<div class="list">-->
                                            <!--<div class="be-scroller-notifications">-->
                                                <!--<div class="content">-->
                                                    <!--<ul>-->
                                                        <!--<li class="notification notification-unread"><a href="#">-->
                                                            <!--<div class="image"><img src="assets/img/avatar2.png" alt="Avatar"></div>-->
                                                            <!--<div class="notification-info">-->
                                                                <!--<div class="text"><span class="user-name">Jessica Caruso</span> accepted your invitation to join the team.</div><span class="date">2 min ago</span>-->
                                                            <!--</div></a></li>-->
                                                        <!--<li class="notification"><a href="#">-->
                                                            <!--<div class="image"><img src="assets/img/avatar3.png" alt="Avatar"></div>-->
                                                            <!--<div class="notification-info">-->
                                                                <!--<div class="text"><span class="user-name">Joel King</span> is now following you</div><span class="date">2 days ago</span>-->
                                                            <!--</div></a></li>-->
                                                        <!--<li class="notification"><a href="#">-->
                                                            <!--<div class="image"><img src="assets/img/avatar4.png" alt="Avatar"></div>-->
                                                            <!--<div class="notification-info">-->
                                                                <!--<div class="text"><span class="user-name">John Doe</span> is watching your main repository</div><span class="date">2 days ago</span>-->
                                                            <!--</div></a></li>-->
                                                        <!--<li class="notification"><a href="#">-->
                                                            <!--<div class="image"><img src="assets/img/avatar5.png" alt="Avatar"></div>-->
                                                            <!--<div class="notification-info"><span class="text"><span class="user-name">Emily Carter</span> is now following you</span><span class="date">5 days ago</span></div></a></li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="footer"> <a href="#">View all notifications</a></div>-->
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div class="be-left-sidebar">
                <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Dashboard</a>
                    <div class="left-sidebar-spacer">
                        <div class="left-sidebar-scroll">
                            <div class="left-sidebar-content">
                                <ul class="sidebar-elements">
                                    <li class="divider">Menu</li>
                                    <li :class="{ 'active': $route.path == '/home' }"><router-link to="/home" href="#"><i class="icon mdi mdi-home"></i><span>Dashboard</span></router-link>
                                    </li>
                                    <li :class="{ 'active': $route.path == '/artists' }"><router-link to="/artists" href="#"><i class="fa fa-music mr-2"></i><span>Artists</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/settings/deductions' }"><router-link to="/settings/deductions" href="#"><i class="fa fa-gear mr-2"></i><span>Settings</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/report/mpesa' }"><router-link to="/report/mpesa" href="#"><i class="fa fa-print mr-2"></i><span>Reports</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/users' }"><router-link to="/users" href="#"><i class="fa fa-users mr-2"></i><span>Users</span></router-link>

                                    </li>
                                    <li :class="{ 'active': $route.path == '/password' }"><router-link to="/password" href="#"><i class="fa fa-key mr-2"></i><span>Password</span></router-link>

                                    </li>
                                    <li ><a  v-on:click="logout()" href="#"><i class="fa fa-arrow-circle-right mr-2"></i><span>Logout</span></a>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="be-content">
                <div class="main-content container-fluid">

                        <router-view></router-view>

                </div>
            </div>
        </div>


    </div>
</template>
<script>
    export default {
        data() {
            return {
                name:'',
                auth:'',
            }
        },
        created(){
            // this.ClearSession();
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
            }
        },
        methods: {
            ClearSession(){
                $(document).ready(function() {
                    if ($.cookie('pop') == null) {
                        localStorage.removeItem('token');
                        localStorage.removeItem('auth');
                        $.cookie('pop', '1');
                    }
                });
            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});

            },
        }
    }
</script>
