<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">
                        <ul class="nav nav-tabs" role="tablist">
                            <router-link to="/report/mpesa" class="nav-item"><a class="nav-link " href="#" data-toggle="tab" role="tab">Donations</a></router-link>
                            <router-link to="/report/withdrawal" class="nav-item"><a  class="nav-link active" href="#" data-toggle="tab" role="tab">Withdrawal</a></router-link>
                        </ul>
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown mr-3"><input type="text" v-model="message.filterval" v-on:keyup="filter()" class="form-control-sm "></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th >Phone </th>
                                <th >Payment to </th>
                                <th >Amount</th>
                                <th >Other Charges</th>
                                <th >Withdwal Charges</th>
                                <th >Amount sent</th>
                                <th >Payment ref</th>
                                <th >System ref</th>
                                <th >Payment date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in pageOfItems">
                                <th >{{index+1}}</th>
                                <td>{{data.phone}}</td>
                                <td><a href="#">{{data.user_name}}</a></td>
                                <td class="text-success">Ksh.{{formatPrice(data.amount)}}</td>
                                <td>Ksh.{{formatPrice(data.charges)}}</td>
                                <td>Ksh.{{formatPrice(data.withdraw_charges)}}</td>
                                <td class="text-success">Ksh.{{formatPrice(data.amount_to_pay)}}</td>
                                <td>{{data.TransactionID}}</td>
                                <td>{{data.system_ref}}</td>
                                <td>{{data.created_at}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="row justify-content-center container">
                        <div class="col-sm-12">
                            <jw-pagination :items="list" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            list:{},
            list2:{},
            pageOfItems:[],
            message:{},
        }
    },
    created() {
        setTimeout(() => {
            this.getMpesaLogs();
        }, 1000);
    },
    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        getMpesaLogs(){
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getWithdwalLogs`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.list=response.data.logs;
                this.list2=response.data.logs;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.list=this.list2;
            }else{
                let ads =  this.list2.filter(function(product) {
                    return product.mpesa_ref.toLowerCase().includes(filterval.toLowerCase()) || product.phone.toLowerCase().includes(filterval.toLowerCase()) ||
                        product.amount.toLowerCase().includes(filterval.toLowerCase())
                });
                this.list=ads;
            }
        },


    }
}
</script>
