<template>
    <div >
        <div class="user-profile">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="user-display">
                        <div class="user-display-bg"><img :src="proxyUrl+'/storage/Photos/'+message.bg_url" alt="Profile Background" style="object-fit: fill;"></div>
                        <div class="user-display-bottom">
                            <div class="user-display-avatar"><img :src="proxyUrl+'/storage/Photos/'+message.photo_url" alt="Avatar"></div>
                            <div class="user-display-info">
                                <div class="name">{{message.name}}</div>
                                <div class="nick"><span class="mdi mdi-account"></span> {{message.user_name}}</div>
                            </div>
                            <div class="row user-display-details">
                                <div class="col-4">
                                    <div class="title">Total Donations</div>
                                    <div class="counter">Ksh.{{donations}}</div>
                                </div>
                                <div class="col-4">
                                    <div class="title">Withdrawal</div>
                                    <div class="counter">Ksh.0.00</div>
                                </div>
                                <div class="col-4">
                                    <div class="title">Balance</div>
                                    <div class="counter">Ksh.{{formatPrice(message.balance)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="user-info-list card">
                        <div class="card-header card-header-divider">About Artist<span class="card-subtitle">
                           {{message.description}}
                        </span></div>
                        <div class="card-body">
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                <tr>
                                    <td class="icon"><span class="mdi mdi-case"></span></td>
                                    <td class="item">Area of artistry<span class="icon s7-portfolio"></span></td>
                                    <td><span v-for="data in areas">{{data.name}}, </span></td>
                                </tr>
                                <tr>
                                    <td class="icon"><span class="mdi mdi-cake"></span></td>
                                    <td class="item">Acount  created <span class="icon s7-gift"></span></td>
                                    <td>{{message.created_at}}</td>
                                </tr>
                                <tr>
                                    <td class="icon"><span class="mdi mdi-smartphone-android"></span></td>
                                    <td class="item">Mobile<span class="icon s7-phone"></span></td>
                                    <td>{{message.phone}}</td>
                                </tr>
                                <tr>
                                    <td class="icon"><span class="mdi mdi-mail-reply"></span></td>
                                    <td class="item">Email<span class="icon s7-envelope"></span></td>
                                    <td>{{message.email}}</td>
                                </tr>
                                <tr>
                                    <td class="icon"><span class="mdi mdi-pin"></span></td>
                                    <td class="item">Gender<span class="icon s7-global"></span></td>
                                    <td>{{message.gender}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6">
                                    <div class="user-info-list card">
                            <div class="card-header card-header-divider">Links<span class="card-subtitle">
                        </span></div>
                                        <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th >#</th>
                                        <th >Title</th>
                                        <th >URL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(data,index) in links">
                                        <td>{{index+1}}</td>
                                        <td>{{data.title}}</td>
                                        <td>{{data.url}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{ },
                links:[],
                areas:[],
                donations:'0',
            }
        },
        created() {
            setTimeout(() => {
                this.getArtist();
            }, 1000);
        },
        methods: {

            getArtist(){
                $('.card-body').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/artist2/${this.$route.params.id}`;
                this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card-body').loader('hide');
                    this.links=response.data.links;
                    this.areas=response.data.areas;
                    this.message=response.data.artist;
                    this.donations=response.data.donations;
                }).catch(error => {
                    $('.card-body').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },


        }
    }
</script>
