<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">Admin Users
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown"><a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#adduser">Add User</a></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th >#</th>
                                <th >Name</th>
                                <th>Email</th>
                                <th >Phone</th>
                                <th >Role</th>
                                <th >Status</th>
                                <th ></th>
                                <th ></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in list">
                                <td>{{index+1}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.role}}</td>
                                <td v-if="data.status==='ACTIVE'" class="text-success"> {{data.status}}</td>
                                <td v-else class="text-danger">{{data.status}}</td>
                                <td v-if="data.status==='ACTIVE'"><a class="btn btn-danger" href="#" v-on:click="showStatusModal(data.id,data.name,'INACTIVE')">Deactivate</a></td>
                                <td v-else><a class="btn btn-success" href="#" v-on:click="showStatusModal(data.id,data.name,'ACTIVE')">Activate</a></td>
                                <td ><a class="text-success" href="#" v-on:click="showEditModal(data.id,data.name,data.email,data.phone)"><i class="fa fa-edit"></i></a></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="status" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Confirm!</h3>
                            <p>Are you sure you want to change the status of <span class="text-success">{{message.name}}</span> to
                                <span class="text-success" v-if="message.status==='ACTIVE'">{{message.status}}</span>
                                <span class="text-danger" v-else>{{message.status}}</span>?
                            </p>
                            <div class="container" v-if="message.status==='INACTIVE'">
                                <textarea class="form-control" id="inputTextarea3" v-model="update.reason" placeholder="Reason for Deactivation" required></textarea>
                            </div>

                            <div class="mt-8">
                                <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-space btn-success" type="button" v-on:click="changeUserStatus()">Proceed</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="adduser" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Add New Administrator!</h3>
                            <form class="container" v-on:submit.prevent="addUser()">
                                <div class="form-group ">
                                    <label for="inputEmail">Email address</label>
                                    <input class="form-control" id="inputEmail" v-model="message.email" type="email" placeholder="Enter email" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Name</label>
                                    <input class="form-control" id="inputEmail" v-model="message.name" type="text" placeholder="Enter name" required>
                                </div>
                                <div class="form-group ">
                                    <label for="inputEmail">Phone</label>
                                    <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control"></vue-tel-input>
                                </div>


                            <div class="mt-8">
                                <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button  class="btn btn-space btn-success" type="submit" >Proceed</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-edit"></span></div>
                            <h3>Edit User!</h3>
                            <form class="container" v-on:submit.prevent="updateUser()">
                                <div class="form-group ">
                                    <label for="inputEmail">Email address</label>
                                    <input class="form-control" id="inputEmail" v-model="message.email" type="email" placeholder="Enter email" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Name</label>
                                    <input class="form-control" id="inputEmail" v-model="message.name" type="text" placeholder="Enter name" required>
                                </div>
                                <div class="form-group ">
                                    <label for="inputEmail">Phone</label>
                                    <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control"></vue-tel-input>
                                </div>

                                <div class="mt-8">
                                    <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <button  class="btn btn-space btn-success" type="submit" >Proceed</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    require:true,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                proxyUrl: process.env.MIX_APP_URL,
                list:[],
                message:{id:'',name:'',phone:'',email:''},
                update:{},
            }
        },
        created() {
            setTimeout(() => {
                this.getUsers();
            }, 1000);
        },
        methods: {
            showEditModal(id,name,email,phone){
                this.message.name=name;
                this.message.email=email;
                this.message.phone=phone;
                this.message.id=id;
                $('#edit').modal('show');
            },
            showStatusModal(id,name,status){
                this.message.id=id;
                this.message.status=status;
                this.message.name=name;
                this.update.status=status;
                $('#status').modal('show');
            },
            addUser(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/addUser`;
                this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.message={};
                        this.getUsers();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            updateUser(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateUser/${this.message.id}`;
                this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getUsers();
                        $('#status').modal('hide');
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            changeUserStatus(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/changeUserStatus/${this.message.id}`;
                this.axios.post(uri,this.update, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getUsers();
                        $('#status').modal('hide');
                        this.message={};
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getUsers(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getUsers`;
                this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.list=response.data.artists;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },


        }
    }
</script>
