<template>
    <div>

        <div class="main-content container-fluid">
            <div class="splash-container">
                <div class="card card-border-color card-border-color-primary">
                    <div class="card-header"><img class="logo-img" src="/images/logo.png" alt="logo" width="102" height="27">
                        <span class="splash-description">Forget password.</span></div>
                    <div class="card-body">
                        <form v-on:submit.prevent="login()">
                            <div class="form-group">
                                <input class="form-control" v-model="message.email" id="username" type="text" placeholder="Enter Email" autocomplete="off">
                            </div>
                            <div class="form-group row login-tools">

                                <div class="col-6 login-forgot-password"><router-link to="/login" href="#">Login?</router-link></div>
                            </div>
                            <div class="form-group login-submit"><button type="submit" class="btn btn-primary btn-xl" href="#" >Submit</button></div>
                        </form>
                    </div>
                </div>
                <!--<div class="splash-footer"><span>Don't have an account? <a href="pages-sign-up.html">Sign Up</a></span></div>-->
            </div>
        </div>
    </div>

</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {


        },
        methods: {
            login(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/forget`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },

        }
    }
</script>
