<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="fa fa-users text-primary fa-2x" ></div>
                    <div class="data-info">
                        <div class="desc">Admin Users</div>
                        <div class="value"><span class="indicator indicator-equal mdi mdi-chevron-right"></span><span >{{message.admins}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="fa fa-music text-success fa-2x" ></div>
                    <div class="data-info">
                        <div class="desc">Artists</div>
                        <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span >{{message.artists}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="fa fa-magnet text-success fa-2x" ></div>
                    <div class="data-info">
                        <div class="desc">Donations</div>
                        <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span >Ksh.{{formatPrice(message.donations)}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="fa fa-arrow-right text-danger fa-2x" ></div>
                    <div class="data-info">
                        <div class="desc">Withdrawal</div>
                        <div class="value"><span class="indicator indicator-negative mdi mdi-chevron-down"></span><span >Ksh.{{formatPrice(message.withdrawal)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-table">
                        <div class="card-header">Donation summery
                            <div class="tools dropdown"><span class="icon mdi mdi-download"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm-10">
                                        <canvas id="chLine"></canvas>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                info:{},
            }
        },
        created() {
            // setTimeout(() => {
                this.getAdminIndexData();
            // }, 1000);
        },
        methods: {
            getAdminIndexData(){
                let uri =this.proxyUrl+`api/auth/getAdminIndexData`;
                this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data;
                    this.info=response.data.info[0];
                    this.loadchart();
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            loadchart(){
                var chartData = {
                    labels: ["Jan", "Feb", "Mat", "Apr", "May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    datasets: [{
                        label: 'This year donation',
                        data: [this.info.jan, this.info.feb, this.info.mar, this.info.apr, this.info.may,this.info.jun,this.info.jul,this.info.aug,this.info.sep,this.info.octb,this.info.nov,this.info.dece],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    },]
                };


                var chLine = document.getElementById("chLine");
                if (chLine) {
                    new Chart(chLine, {
                        type: 'line',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            legend: {
                                display: false
                            }
                        }
                    });
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },


        }
    }
</script>
