<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card card-table">
                    <div class="card-header text-center">Please Change your password here
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <form class="container" v-on:submit.prevent="updateUser()">
                                    <div class="form-group ">
                                        <label for="inputEmail">Current password</label>
                                        <input class="form-control" id="inputEmail" v-model="message.currentpass" type="password"  required>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail">New password</label>
                                        <input class="form-control" id="inputEmail" v-model="message.password" type="password"  required>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail">Confirm password</label>
                                        <input class="form-control" id="inputEmail" v-model="message.repass" type="password"  required>
                                    </div>
                                    <div class="mt-8">
                                        <button  class="btn btn-space btn-success mb-3" type="submit" >Update password</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {

        },
        methods: {

            updateUser(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateProfilePassword`;
                this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },


            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },


        }
    }
</script>
