<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" role="tab">Deduction Settings</a></li>
                            <li class="nav-item"><router-link to="/settings/other" class="nav-link" href="#" data-toggle="tab" role="tab">Other Settings</router-link></li>
                        </ul>
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                        <div class="tools dropdown"><a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#adduser">Add Deduction</a></div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th >#</th>
                                <th >Name</th>
                                <th>% Deducted</th>
                                <th ></th>
                                <th ></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(data,index) in list">
                                <td>{{index+1}}</td>
                                <td>{{data.name}}</td>
                                <td>{{formatPrice(data.percent)}} %</td>
                                <td ><a class="text-success" href="#" v-on:click="showEditModal(data.id,data.name,data.percent)"><i class="fa fa-edit"></i></a></td>
                                <td ><a class="text-danger" href="#" v-on:click="showStatusModal(data.id,data.name)"><i class="fa fa-trash"></i></a></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="adduser" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Add New Deduction!</h3>
                            <form class="container" v-on:submit.prevent="addDeduction()">

                                <div class="form-group">
                                    <label for="inputEmail">Name</label>
                                    <input class="form-control" id="inputEmail" v-model="message.name" type="text" placeholder="Enter name" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Percentage</label>
                                    <input class="form-control" id="inputEmail" v-model="message.percent" type="text" placeholder="Enter Percentage" required>
                                </div>

                                <div class="mt-8">
                                    <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <button  class="btn btn-space btn-success" type="submit" >Proceed</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-edit"></span></div>
                            <h3>Edit User!</h3>
                            <form class="container" v-on:submit.prevent="updateDeduction()">
                                <div class="form-group">
                                    <label for="inputEmail">Name</label>
                                    <input class="form-control" id="inputEmail" v-model="message.name" type="text" placeholder="Enter name" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Percentage</label>
                                    <input class="form-control" id="inputEmail" v-model="message.percent" type="text" placeholder="Enter Percentage" required>
                                </div>

                                <div class="mt-8">
                                    <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <button  class="btn btn-space btn-success" type="submit" >Proceed</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="status" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
                            <h3>Confirm!</h3>
                            <p>Are you sure you want to delete <span class="text-success">{{message.name}}</span> ?
                            </p>

                            <div class="mt-8">
                                <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-space btn-success" type="button" v-on:click="deleteDeduction()">Proceed</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                list:[],
                message:{id:'',name:'',percent:''},
            }
        },
        created() {
            setTimeout(() => {
                this.getDeductions();
            }, 1000);
        },
        methods: {
            showEditModal(id,name,percent){
                this.message.name=name;
                this.message.id=id;
                this.message.percent=percent;
                $('#edit').modal('show');
            },
            showStatusModal(id,name){
                this.message.id=id;
                this.message.name=name;
                $('#status').modal('show');
            },
            deleteDeduction(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/deleteDeduction/${this.message.id}`;
                this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.message={};
                        this.getDeductions();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            addDeduction(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/addDeduction`;
                this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.message={};
                        this.getDeductions();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            updateDeduction(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateDeduction/${this.message.id}`;
                this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getDeductions();
                        $('#status').modal('hide');
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            changeUserStatus(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/changeUserStatus/${this.message.id}`;
                this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getUsers();
                        $('#status').modal('hide');
                        this.message={};
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getDeductions(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getDeductions`;
                this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.list=response.data.deductions;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },


        }
    }
</script>
