<template>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table">
                    <div class="card-header">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><router-link to="/settings/deductions" class="nav-link " href="#" data-toggle="tab" role="tab">Deduction Settings</router-link></li>
                            <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab" role="tab">Other Settings</a></li>
                        </ul>
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span></div>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                list:{},
            }
        },
        created() {
            setTimeout(() => {
                // this.getOtherSettings();
            }, 1000);
        },
        methods: {
            getOtherSettings(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getOtherSettings`;
                this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.list=response.data.deductions;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },


        }
    }
</script>
